<!-- Order Summary -->
        <div class="col-lg-5">
            <div class="order-summary">
                <div class="summary-title">
                    <span>Order Summary</span>
                    {% with cart_total=cart|length %}
                    <span> {{ cart_total }} item{{ cart_total|pluralize }}</span>
                    {% endwith %}
                </div>
                
                <div class="cart-items">
                    {% for item in cart %}
                        {% with product=item.product %}
                            <div class="cart-item">
                                <div class="cart-item-img">
                                    <img src="{{ product.image.url }}">
                                </div>
                                <div class="cart-item-details">
                                    <div class="cart-item-title">{{ product.name }}</div>
                                    <div class="cart-item-qty">Qty: {{ item.quantity }}</div>
                                    <div class="cart-item-price">${{ item.total_price }}</div>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </div>
                
                {% with total=cart.get_total_price.total_price %}
                <div class="summary-row">
                    <div>Subtotal</div>
                    <div>${{ total }}</div>
                </div>
                {% if cart.coupon %}
                    <div class="summary-row">
                        <div>Discount</div>
                        <div class="text-success">-${{ cart.get_discount }}</div>
                    </div>
                    <div class="summary-row total">
                        <div>Total</div>
                        <div>${{ cart.get_total_price_after_discount }}</div>
                    </div>
                {% else %}
                    <div class="summary-row total">
                        <div>Total</div>
                        <div>${{ total }}</div>
                    </div>
                {% endif %}
                {% endwith %}
                <!-- <div class="summary-row">
                    <div>Shipping</div>
                    <div>$29.99</div>
                </div> -->
                
                <!-- <div class="summary-row">
                    <div>Tax</div>
                    <div>${{ get_price_info }}</div>
                </div> -->
                <form action="{% url 'coupons:apply' %}" method="post">
                    {% csrf_token %}
                    <div class="summary-row">
                        <div class="promo-code mt-4">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter promo code" name="code">
                                <button class="btn btn-outline-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </form>